// Index.html

.page {
    font-family: var(--main-font);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    font-size: 14px;
    margin: 0;
    width: 1600 px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// Portfolio.html

.main {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}