.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__title {
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}

.features__description {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--dark-txt-cl)
}

.features__list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.features__item {
    width: 270px;
}

.features__content {
    background-color: var(--grey-bg-cl);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}