.logo {
    color: currentColor;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
}

.header__logo {
    margin-right: 93px;

    &--black {
        color: var(--accent-txt-cl);
    }
}
