.projects {
    padding-bottom: 94px;
}

.projects__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.projects__list {
    display: flex;
    gap: 30px;
}

.projects__content {
    position: relative;
}

.projects__description {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
    background-color: rgba(47, 48, 58, 0.8);
}
