.send {
    margin-left: 93px;
}

.send__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
    margin-bottom: 20px;
}

.send__email {
    display: flex;
    gap: 12px;
}

.send__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border-color: var(--accent-txt-cl);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        letter-spacing: 0.03em;
    }
}

.send__button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    cursor: pointer;
    background-color: var(--accent-bg-cl);
    border: none;
    border-radius: 4px;
    position: relative;
    padding: 10px 28px;
}

.send__icon {
    fill: var(--light-txt-cl);
    margin-left: 10px;
}