.team {

    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--grey-bg-cl);
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__post {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-txt-cl);
    margin-bottom: 16px;
}

.team__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.team__content {
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.team__item {
    background-color: var(--light-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}