:root {

    /*Fonts*/
    --main-font: Roboto, san-serif;
    --secondary-font: Raleway;

    /*Text colors*/
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196F3;
    --light-txt-cl: #FFFFFF;
    --dark-txt-cl: #757575;

    /*Background colors*/
    --accent-bg-cl: #2196F3;
    --main-bg-cl: #2F303A;
    --grey-bg-cl: #F5F4FA;
    --white-bg-cl: #ffffff;

    /*Others*/
    --light-bd-cl: #EEEEEE;
    --link-color: #AFB1B8;
    --footer-bg: rgba(255, 255, 255, 0.1);
    --timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}